@keyframes animation-12 {
  from {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 1;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    z-index: 6;
    transform: rotate(0deg);
  }
}


.animationClass-12 {
  animation: animation-12 0.001s linear 0s normal forwards;
}
@keyframes animation-111 {
  from {
    width: 5%;
    height: 7.03%;
    z-index: 3;
    transform: rotate(0deg);
  }
  to {
    width: 5%;
    height: 7.03%;
    z-index: 2;
    transform: rotate(0deg);
  }
}
.animationClass-111 {
  animation: animation-111 0.001s linear 0s normal forwards;
}
@keyframes animation-117 {
  from {
    width: 6.94%;
    height: 90.63%;
    top: 9.38%;
    left: 92.99%;
    opacity: 0.5;
    z-index: 0;
    transform: rotate(0deg);
    background: #d9d9d9ff;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-117 {
  animation: animation-117 0.001s linear 0s normal forwards;
}
@keyframes animation-15 {
  from {
    width: 100%;
    height: 9.38%;
    z-index: 1;
    transform: rotate(0deg);
  }
  to {
    width: 100%;
    height: 9.38%;
    z-index: 0;
    transform: rotate(0deg);
  }
}
.animationClass-15 {
  animation: animation-15 0.001s linear 0s normal forwards;
}
@keyframes animation-110 {
  from {
    width: 33.33%;
    height: 9.38%;
    z-index: 2;
    transform: rotate(0deg);
  }
  to {
    width: 33.33%;
    height: 9.38%;
    z-index: 1;
    transform: rotate(0deg);
  }
}
.animationClass-110 {
  animation: animation-110 0.001s linear 0s normal forwards;
}
@keyframes animation-110-110-0 {
  from {
    font-size: calc(47 * var(--ratio));
    font-family: Fresca;
    font-weight: 400;

    text-decoration: none;
    text-transform: none;

    line-height: calc(48 * var(--ratio));
    color: #ffffffff;
  }
  to {
    font-size: calc(47 * var(--ratio));
    font-family: Fresca;
    font-weight: 400;

    text-decoration: none;
    text-transform: none;

    line-height: calc(48 * var(--ratio));
    color: #ffffffff;
  }
}

.animationClass-110-110-0 {
  animation: animation-110-110-0 0.001s linear 0s normal forwards;
}
@keyframes animation-1394 {
  from {
    width: 5%;
    height: 7.03%;
    top: 21.58%;
    left: 93.96%;
    opacity: 1;
    z-index: 6;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-1394 {
  animation: animation-1394 0.001s linear 0s normal forwards;
}
@keyframes animation-986 {
  from {
    width: 5%;
    height: 7.03%;
    top: 11.33%;
    left: 93.96%;
    opacity: 1;
    z-index: 4;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-986 {
  animation: animation-986 0.001s linear 0s normal forwards;
}
@keyframes animation-985 {
  from {
    width: 5%;
    height: 7.03%;
    top: 31.84%;
    left: 93.96%;
    opacity: 1;
    z-index: 5;
    transform: rotate(0deg);
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.animationClass-985 {
  animation: animation-985 0.001s linear 0s normal forwards;
}
