.Homepage {
  width: 1440px;
  height: 1024px;
  position: relative;
  background: linear-gradient(180deg, #008162 0%, #59706B 100%);
}

.Rectangle2 {
  width: 100px;
  height: 928px;
  left: 1339px;
  top: 96px;
  position: absolute;
  opacity: 0.50;
  background: #D9D9D9;
}

.Rectangle1 {
  width: 1440px;
  height: 96px;
  left: 0;
  top: 0;
  position: absolute;
  background: #74CAB5;
}

.Cultureconnect {
  width: 480px;
  height: 96px;
  left: 0;
  top: 18px;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: Fresca;
  font-weight: 400;
  word-wrap: break-word;
}

.Group2,
.Group1,
.Group4,
.Group9,
.Group {
  width: 72px;
  height: 72px;
  position: absolute;
}

.Rectangle3 {
  width: 72px;
  height: 72px;
  left: 1353;
  top: 117;
  background: #ECECEC;
  position: absolute;
  border-radius: 25px;
}
.Rectangle4 {
  width: 72px;
  height: 72px;
  right: 1353;
  top: 221;
  background: #ECECEC;
  position: absolute;
  border-radius: 25px;
}
.Rectangle5 {
  width: 72px;
  height: 72px;
  left: 1353;
  top: 326;
  background: #ECECEC;
  position: absolute;
  border-radius: 25px;
}

.Vector {
  position: absolute;
  background: #212121;
}
.Group-Image{
  width: 60px;
    height: 60px;
    position: absolute;
    left: 1260px;
    top: 18px;
}
.Person-Image{
  width: 48px;
    height: 48px;
    position: absolute;
    left: 1364px;
    top: 27px;
}

.Rectangle11 {
  width: 621px;
  height: 877px;
  left: 409px;
  top: 116px;
  position: absolute;
  background: #E9E9E9;
}

.Rectangle12 {
  width: 621px;
  height: 80px;
  left: 409px;
  top: 116px;
  position: absolute;
  background: white;
}

.Ellipse1 {
  width: 72px;
  height: 72px;
  position: absolute;
  background: #ECECEC;
  border-radius: 9999px;
}
.Ellipse2 {
  width: 72px;
  height: 72px;
  position: absolute;
  background: #ECECEC;
  left: 1353px;
  top: 12px;
  border-radius: 9999px;
}
