.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, #008162 0%, #59706F 100%);
  }
  
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 96px;
    background-color: #74CAB5;
    padding-left: 20px;
  }
  
  .culture-connect {
    color: white;
    font-size: 48px;
    align-items: center;
    font-family: 'Fresca', sans-serif;
  }
  
  .content-wrapper { /*for center posts*/
    display: flex;
    flex: 1;
    align-items: middle;
  }
  
  .main-content {
    display: flex;
    flex: 1;
    columns: left;
  }
  
  .profile-section {
    width: 300px; /* Fixed width for the sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    background-color: #E9E9E9;
  }
  
  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-name {
    color: black;
    font-size: 16px;
    font-family: 'Fresca', sans-serif;
  }
  
  .content-area {
    flex-grow: 1;
    padding: 20px;
    align-items: center;
    /* Further styling as per content requirements */
  }
  
  .sidebar {
    width: 100px; /* Fixed width for the sidebar */
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .icon-group {
    display: flex;
    flex-direction: column;
  }
  
  .icon {
    width: 72px;
    height: 72px;
    background-color: #74CAB5;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  /* Add further styles for icons and other elements */
  