<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
<h2>Sign Up</h2>
<form action="/signup" method="POST">
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" required><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="nationality">Nationality:</label><br>
    <input type="text" id="nationality" name="nationality" required><br>
    <label for="language">Language:</label><br>
    <input type="text" id="language" name="language" required><br><br>
    <label for="bio">Bio:</label><br>
    <input type="text" id="bio" name="bio" required><br><br>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>
