<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css') }}"> -->
  <link rel="stylesheet" href="static/css/Signup.css">
</head>
<body>
  <div class="login-page">
    <div class="left-panel">
      <h1 class="title">CultureConnect</h1>
    </div>
    <div class="right-panel">
      <h2 class="subtitle">Sign Up</h2>
      <form class="signup-form"  action="/signup" method="POST">
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="Username" onchange="setUsername(event.target.value)"/>
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="Password" onchange="setPassword(event.target.value)"/>
        </div>
        <div class="input-group">
          <input type="email" id="email" name="email" placeholder="Email" onchange="setEmail(event.target.value)" />
        </div>
        <div class="input-group">
          <input type="text" id="nationality" name="nationality" placeholder="Nationality" onchange="setNationality(event.target.value)" />
        </div>
        <div class="input-group">
          <input type="text" id="language" name="language" placeholder="Language" onchange="setLanguage(event.target.value)" />
        </div>
        <div class="input-group">
          <input type="text" id="bio" name="bio" placeholder="Bio" onchange="setBio(event.target.value)" />
        </div>
        <button type="submit" class="submit-btn">Signup</button>
      </form>
    </div>
  </div>


</body>
</html>
